
  .lead__title {
    max-width: 720px;
    margin: 0 auto;
    font-size: 97px;
    line-height: 1.5;
    margin-top: 91px;
    margin-bottom: 0;
    color: #fff;
    font-family: "Inter";
    font-weight: 900;
    line-height: 100px;
    text-align: center;
    text-decoration-skip-ink: none;
  }
  
  .lead__subtitle {
    max-width: 720px;
    margin-top: 32px;
    margin-bottom: 64px;
    font-family: "Inter";
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    text-decoration-skip-ink: none;
    color: #fff;
    line-height: 1;
  }
  
  .lead__content-image { 
    max-width: 990px;
    margin: auto;
  }

  .lead__image {
    max-width: 100%;
    padding-bottom: 0;
  }
  
  @media screen and (min-width: 320px) and (max-width: 544px) {
    .lead__title {
      max-width: 220px;
    font-size: 40px;
    line-height: 1;
    }
    .lead__subtitle {
      max-width: 290px;
      font-size: 16px;
    }
  
  }
  
  @media screen and (min-width: 545px) and (max-width: 1024px) {
    .header__title {
      max-width: 530px;
      font-size: 75px;
      line-height: 1;
    }
  }